.container {
  display: grid;
  grid-template-areas:
    "header"
    "main";
  grid-template-rows: 100px 1fr;
  min-height: 100vh;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.content1 {
  grid-area: content1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.content2 {
  grid-area: content2;
  display: grid;
}

.pagination_slider {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.pagination_controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.pagination_show_pages {
  color: var(--secondary-gold-color);
  margin: 0 15px;
}
.progress_bar_container {
  margin-top: 1rem;
}